body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
}

div{
    background-color: blanchedalmond;
    border: rgb(255, 0, 0) 1px solid;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    
}

button{
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
}

.container{
    width: 800px;
    height: 800px;
    border: none;
}